h1.intro {
    text-align: left;
    margin-bottom: 5px;
    color: var(--primary-text-color);
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

h2.intro {
    color: var(--third-text-color);
    text-align: left;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

p.intro {
    color: var(--secondary-text-color);
}

div.intro {
    position: -webkit-sticky;
    position: fixed;
    top: 0;
}

header > p.intro {
    color: var(--secondary-text-color);
    padding: calc(var(--top-margin) * 1.5) calc(var(--p-font-size) * 1) var(--p-font-size) var(--p-font-size);
    word-break: break-word;
    @media (max-width: 700px) {
        padding: calc(var(--h2-font-size) * 8) 0 0 var(--p-font-size);
    }
}
