.container {
    border-radius: 10px;
    margin-bottom: calc(var(--p-font-size) * 1);
    min-width: var(--min-width);
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.container:hover {
    background-color: var(--secondary-bg-color);
}

.bigcontainer {
    min-height: 100vh;
    
    @media (max-height: 900px) {
        height: auto;
    }
}

.card {
    display: flex;
    width: 100%;
    min-height: 70px;
    border-radius: 10px;
    padding: 10px;
}

.leftcard {
    width: 40%;
    color: var(--secondary-text-color);
}

.rightcard {
    width: 60%;
    padding: 0 0 0 calc(var(--p-font-size) * 2);
}

.cardheader {
    color: var(--primary-text-color);
}

.cardsubheader {
    color: var(--secondary-text-color);
}

.cardbody {
}

.cardtagscontainer {
  display: flex;
  font-size: var(--p-font-size);

  --margin-horizontal: 1rem;
  
  @media (max-width: 700px) {
    width: auto;
    flex-wrap: wrap;
  }
}

.cardtag {
  color: var(--third-text-color);
  border-radius: 10px;
  margin: 0 var(--margin-horizontal) var(--margin-horizontal) 0;
}

.time {
    margin-top: var(--p-font-size);
}
