.container {
    border-radius: 10px;
    margin-bottom: 25px;
    min-width: var(--min-width);
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.bigcontainer {
    height: 70vh;
}

.card {
    display: flex;
    width: 100%;
    min-height: 70px;
    border-radius: 10px;
    padding: 10px;
}

.leftcard {
    padding: 5px;
    font-size: 18px;
    width: 30%;
    color: var(--secondary-text-color);
}

.rightcard {
    width: 70%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottomt: 10px;
}

.cardheader {
    color: var(--primary-text-color);
    font-size: 20px;
}

.cardsubheader {
    color: var(--secondary-text-color);
    font-size: 20px;
}

.cardbody {
    font-size: 18px;
    padding-left: 10px;
    padding-top: 10px;
}

.cardtagscontainer {
  padding-top: 10px;
  font-weight: 600;
  display: flex;

  --margin-horizontal: 5px;
  font-weight: 500;
  font-size: 1.2em;
  color: var(--third-text-color);
}

.cardtag {
  color: var(--third-text-color);
  border-radius: 10px;
  margin-left: var(--margin-horizontal);
  margin-right: var(--margin-horizontal);
}
