.container {
    border-radius: 10px;
    margin-bottom: 25px;
    min-width: var(--min-width);
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.bigcontainer {
    height: 100vh;
}

.card {
    display: flex;
    width: 100%;
    min-height: 70px;
    border-radius: 10px;
    padding: 10px;
}

.leftcard {
    padding: 5px;
    width: 30%;
    color: var(--secondary-text-color);
}

.rightcard {
    width: 70%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottomt: 10px;
}

.cardheader {
    color: var(--primary-text-color);
}

.cardsubheader {
    color: var(--secondary-text-color);
}

.cardbody {
    padding-left: 10px;
    padding-top: 10px;
}

.cardtagscontainer {
  padding-top: 10px;
  font-weight: 500;
  display: flex;

  --margin-horizontal: .3rem;
  font-size: 1.2rem;

  
  @media (max-width: 700px) {
    width: auto;
    flex-wrap: wrap;
  }
}

.cardtag {
  color: var(--third-text-color);
  border-radius: 10px;
  margin-left: var(--margin-horizontal);
  margin-right: var(--margin-horizontal);
}
