@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* --main-bg-color: #1d1c1b; */
    /* --main-bg-color: #1c2841; */
    /* green color pallet https://coolors.co/palette/cad2c5-84a98c-52796f-354f52-2f3e46 */
    /* current color pallet https://coolors.co/palette/01161e-124559-598392-aec3b0-eff6e0 */
    --main-bg-color: #01161e;
    --highlight-main-bg-color: #124559;
    --max-width: 900px;
    --min-width: 200px;
    --primary-text-color: #eff6e0;
    --secondary-text-color: #aec3b0;
    --third-text-color: #598392;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: #1d1c1b;
        --background-start-rgb: #1d1c1b;
        --background-end-rgb: #1d1c1b;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--primary-text-color);
}

html,
body {
    max-width: 100vw;
    background: var(--main-bg-color);
}

h1.intro {
    font-size: 40px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 5px;
    color: var(--primary-text-color);

    @media (max-height: 700px) {
        font-size: 30px;
    }
}

h2.intro {
    font-size: 30px;
    font-weight: 400;
    color: var(--third-text-color);
    text-align: left;
    margin-bottom: 10px;

    @media (max-height: 700px) {
        font-size: 20px;
    }
}

p.intro {
    font-size: 20px;
    color: var(--secondary-text-color);
    margin-left: 20px;

    @media (max-height: 700px) {
        font-size: 15px;
    }
}

div.intro {
    position: -webkit-sticky;
    position: fixed;
    top: 0;

    @media (max-height: 700px) {
        margin-top: 70%;
    }
}

h1,
h2 {
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-text-color);
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
