.container {
    margin-left: auto;
    margin-right: auto;
    color: var(--primary-text-color);
    font-family: "Roboto Mono", monospace;
    /* for mobile devices or small width windows */
    @media (max-width: 875px) {
        overflow-y: scroll;
        margin-left: 10px;
        margin-right: 10px;
        min-width: 0px;
    }
}

.centeredcontainer {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.centeredcontained {
    margin-left: auto;
    margin-right: auto;
    min-width: var(--min-width);
    max-width: var(--max-width);
    color: var(--primary-text-color);
    font-family: "Roboto Mono", monospace;
    /* for mobile devices or small width windows */
    @media (max-width: 875px) {
        overflow-y: scroll;
        margin-left: 10px;
        margin-right: 10px;
        min-width: 0px;
    }

    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.container::-webkit-scrollbar {
    display: none;
}

.centeredcontained::-webkit-scrollbar {
    display: none;
}

.contained {
    overflow-y: scroll;
    position: relative;
    top: 75px;
    scrollbar-width: none;
    height: 90vh;
}

.contained::-webkit-scrollbar {
    display: none;
}

.footercontainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: -1px;

    @media (max-height: 700px) {
        display: none;
    }
    background: var(--main-bg-color);
}

.footerinnercontainer {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.footer {
}

.rightfooter {
    position: relative;
    margin-left: 150px;
    min-width: 125px;
    font-size: 14px;
}

.leftfooter {
    min-width: 125px;
    font-size: 14px;
    position: relative;
}
