.navbaritem {
    margin: 10px;
    display: inline-grid;
    padding: 5px;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--primary-text-color);
    font-family: "Roboto Mono", monospace;
    top: 0px;
    z-index: 100;
    background: var(--main-bg-color);
}

.dropdownstyle {
    background: var(--main-bg-color);
}

.dropdownstyle:hover {
    background: grey;
}

.navbarcontainer {
    z-index: 10;
    display: inline-block;
    top: 10px;
    @media (max-width: 875px) {
    }
}

.container {
    min-width: var(--min-width);
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
}
