.navbaritem {
    margin: 10px;
    display: inline-grid;
    padding: 5px;
    font-weight: 365;
    font-size: 20px;
    color: var(--primary-text-color);
    margin-bottom: 10px;
    font-family: "Roboto Mono", monospace;
    top: 0px;
    z-index: 100;
    background: var(--main-bg-color);
}

.dropdownstyle {
    background: var(--main-bg-color);
}

.dropdownstyle:hover {
    background: grey;
}

.navbarcontainer {
    z-index: 10;
    display: inline-block;
    position: absolute;
    top: 10px;
    min-width: var(--min-width);
    @media (max-width: 875px) {
        margin-left: -10px;
        min-width: 100px;
    }
}
