.projectsindexcontainer {
}

.bigcontainer {
}

.index {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-column-gap: 5%;
}

.contained {
  border-radius: 10px;
  min-width: var(--min-width);
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.contained:hover {
  background: var(--highlight-main-bg-color);
}

.rightcontained {
  color: var(--secondary-text-color);
}

.leftcontained {
}

.footer {
}

.imgcontained {
  border-radius: 10px;
  height: 171px;
  max-width: 100%;
  z-index: 0;
}

.seemore {
  position: absolute;
  right: 0px;
  color: var(--primary-text-color);
}

.header {
  color: var(--primary-text-color);
}

.viewlinks {
  color: var(--secondary-text-color);
  text-align: center;
  display: block;
}

.viewdate {
  color: var(--third-text-color);
  text-align: center;
  margin-bottom: 20px;
}

.viewcodelink {
}

.viewcodelink:hover {
  color: var(--third-text-color);
}

.viewpagelink {
  margin-left: 20px;
}

.viewpagelink:hover {
  color: var(--third-text-color);
}

.viewbody {
  text-align: justify;
}

.tag {
  color: var(--third-text-color);
  margin-right: 1rem;
}

.link {
    margin: 0 1rem 0 0;
}

.links {
    display: flex;
}
